<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的订单</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="css/jinping.css">
        <link rel="stylesheet" href="css/order_center.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/react.min.js"></script>
        <script src="js/react-dom.min.js"></script>
        <script src="js/browser.min.js"></script>
        <script src="js/jinzhi.js"></script>

    </head>
    <body>
        <div id="order"></div>
        <script type="text/babel">
        class Wrap extends React.Component {
          render() {
              return (
                <div className="wrap">
                  <Header/>
                  <Middle/>
                </div>
              );
            }
        };
        // 头部
        class Header extends React.Component {
            constructor(props) {
              super(props);
            }
            componentDidMount() {
                $.ajax({
                     url: "/check_message_number",
                     dataType: 'json',
                     type: 'POST',
                     success: function(data) {
                         if (data.count == 0) {
         					$(".headernewsnum").hide();
         				}else {
         					$(".headernewsnum").show();
         					$(".headernewsnum").html(data.count);
         				}
                     }.bind(this),
                     error: function(xhr, status, err) {
                     }.bind(this)
                });
            }
          render() {
              return (
                  <div className="top">
                    <div className="back">
                      <a href="person_center"><img src="images/back.png" alt="" /></a>
                    </div>
                    <p className="top-title">我的订单</p>
                    <div className="top-right"><a href="/messages"><img src="images/news.png" alt="" /><p className="headernewsnum"></p></a></div>
                  </div>
              );
            }
        };
        // 中间部分
        class Middle extends React.Component {
            constructor(props) {
              super(props);
              this.loadData=this.loadData.bind(this);
              this.handleClick=this.handleClick.bind(this);
              this.state = {ordersiitem:[],detailsitems:{},products:{},status:""};
            }
            componentDidMount() {
                this.loadData("");
            }
            loadData(status) {
                $.ajax({
                     url: "/order_center_data?status="+status,
                     dataType: 'json',
                     type: 'GET',
                     success: function(data) {
                         this.setState({ordersiitem:data.orders,detailsitems:data.details,products:data.products,status:status});
                     }.bind(this),
                     error: function(xhr, status, err) {
                     }.bind(this)
                });
            }
            handleClick(e){
                var id = e.target.id;
                $(".li_color").removeClass("li_color");
                $("#"+id).addClass("li_color");

                var status = "";
                if (id != "all") {
                    status = id;
                }
                this.loadData(status);
            }
          render() {
              var productList = <p className="no_order">暂无信息</p>;
              if (this.state.ordersiitem.length > 0) {
                  productList = this.state.ordersiitem.map(item => (
                      <ProductList key={item.order_id} item={item} detailsitems={this.state.detailsitems} products={this.state.products} status={status} loadData={this.loadData}/>));
              }
              return (
                  <div className="order_center">
                  <div className="nav">
                    <ul className="nav-ul">
                      <li id="all" className="li_color" onClick={this.handleClick}>全部</li>
                      <li id="-1" onClick={this.handleClick}>待付款</li>
                      <li id="2" onClick={this.handleClick}>待发货</li>
                      <li id="5" onClick={this.handleClick}>待收货</li>
                      <li id="10" onClick={this.handleClick}>退货</li>
                    </ul>
                  </div>
                  {productList}
                  </div>
              );
            }
        };
        // 商品信息
        class ProductList extends React.Component {
            constructor(props) {
              super(props);
              this.handleClick1=this.handleClick1.bind(this);
              this.handleClick3=this.handleClick3.bind(this);
            }
            handleClick1(e){
                var order_id = this.props.item.order_id;
                var reason = "不想买了";
                var order_status = "未付款";
                $.ajax({
                    url: "/order_cancel",
                    dataType: 'json',
                    type: 'POST',
                    data: {"order_id":order_id,"reason":reason,"order_status":order_status},
                    success: function(data) {
                        if (data.success) {
                            this.props.loadData(this.props.status)
                        }else {
                            alert("取消失败");
                        }
                    }.bind(this),
                    error: function(xhr, status, err) {
                    }.bind(this)
                });

            }
            handleClick3(e){
                var order_id = this.props.item.order_id;
                $.ajax({
                    url: "/order_delete",
                    dataType: 'json',
                    type: 'POST',
                    data: {"order_id":order_id},
                    success: function(data) {
                        if (data.success) {
                            this.props.loadData(this.props.status)
                        }else {
                            alert("删除失败");
                        }
                    }.bind(this),
                    error: function(xhr, status, err) {
                    }.bind(this)
                });

            }
          render() {
              var order_status = this.props.item.order_status;
              var button_one = "",button_two = "",button_three = "",button_four = "";
              if(order_status=="等待卖家拣货"){
                  button_one = "";
                  button_two = "";
                  button_three = "";
                  button_four = "";
              }else if (order_status=="等待买家付款") {
                  button_one = "不想买了";
                  button_two = "";
                  button_three = "删除订单";
                  button_four = "立即付款";
              }else if (order_status=="交易成功") {
                  button_one = "";
                  button_two = "";
                  button_three = "删除订单";
                  button_four = "";
              }
              return (
                  <div className="public_all">
                      <div className="public_market">
                        <div className="public_market_img">
                          <img src="images/shop.png" alt="" />
                        </div>
                        <span className="public_market_span1">自营店</span>
                        <span><img src="images/jiantou-right.png" alt="" /></span>
                        <span className="public_market_span2">{order_status}</span>
                      </div>
                      {this.props.detailsitems[this.props.item.order_id].map(item => (
                          <Product key={item.product_id} item={item} order_status={order_status} products={this.props.products}/>))
                      }
                      <div className="product_yunfei">
                          <span>共{this.props.item.total_number}件商品</span>
                          <span>运费￥{this.props.item.logistics_price}</span>
                          <span>共计￥{this.props.item.actual_price}</span>
                      </div>
                      <div className="product_button">
                          <span onClick={this.handleClick1}>{button_one}</span>
                          <span >{button_two}</span>
                          <span onClick={this.handleClick3}>{button_three}</span>
                          <span><a href={"pay_way?order_id="+this.props.item.order_id}>{button_four}</a></span>
                      </div>
                  </div>
              );
            }
        };
        // 商品信息
        class Product extends React.Component {
          render() {
              var order_status = this.props.order_status;
              var button = "";
              if(order_status=="等待卖家拣货"){
                  button = <span>申请退款</span>;
              }
              var product = this.props.products[this.props.item.product_id];
              var src = "images/no_picture.png";
              if (product.img) {
                  src = product.img.location;
              }
              return (
                  <div className="product_wrap">
                    <div className="product_left_img"><img src={src} alt="" /></div>
                    <div className="product_center_inf">
                        <p>{product.product_name}</p>
                    </div>
                    <div className="product_right_price">
                        <p className="product_price">￥{this.props.item.price}</p>
                        <p className="product_number">x {this.props.item.number}</p>
                        <p className="refund_button">{button}</p>
                    </div>
                  </div>
              );
            }
        };

        // 返回到页面
        ReactDOM.render(
          <Wrap/>,
          document.getElementById("order")
        );
        </script>
    </body>
</html>
